#browserFrame {
  margin:0;
  padding:0;
  box-sizing:border-box;
  height:100%;
  background:#f0f0f0;
  overflow:hidden
}

#browser-header{
  display:flex;
  flex-direction:column;
  background:#333;
  color:#fff
}

#browser-top-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-right:4px;
  background-color:#1c1b22;
  max-height: 40px;
}

#browser-header-logo{
  border-right:solid 1px gray;
  padding:3px 20px 35px 23px
}
#browser-header-content{
  display:flex;
  align-items:center;
  flex-grow:1
}
#browser-header-modifyButtons{
  display:flex;
  align-items:center
}
.browser-tab-right-menu,.browser-tab-right-menu-close{
  all:unset;
  height:30px;
  width:40px;
  text-align:center;
  margin-left:10px
}
.browser-tab-right-menu-close:hover{
  background-color:#bb0808
}
.browser-tab-right-menu:hover{
  background-color:rgba(255,255,255,.1)
}
.browser-header-tab-project{
  display:flex;
  max-width:218px;
  max-height:59px;
  overflow:hidden;
  margin-left:5px;
  margin-right:5px;
  font-size:13px;
  padding:8px;
  border-radius:3px
}
.browser-header-tab-project-file-path{
  flex:1;
  white-space:nowrap;
  overflow:hidden
}
.browser-header-tab-project-close-button{
  padding-left:5px
}
.browser-header-tab-project:active,.header-tab-project:hover{
  background-color:#2e2d35
}
.browser-header-tab-project-close-button:hover{
  background-color:#3b3a42
}
#browser-bottom-header{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  padding:10px 15px;
  background:#2b2a33;
  padding-right:17px
}
#browser-header-path{
  flex-grow:1;
  background-color:#1c1b22;
  padding:4px;
  display:flex;
  border-radius:5px;
  overflow:hidden
}
.browser-bottom-header-left-menu,.browser-bottom-header-right-menu{
  all:unset;
  text-align:center
}
.browser-bottom-header-left-menu{
  margin-right:15px
}
.browser-header-bottom-path{
  flex:1;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}
#browser-bottom-header-path-left-content{
  display:flex;
  align-items:center
}
#browser-bottom-header-path-right-content{
  margin-left:auto
}
#browser-iframe-website{
  overflow-y:scroll;
  height: calc(100% - 118px); /* 118px is the size of the header */
}