html,
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2f2f2f;
}

.container {
    text-align: center;
}

p {
    font-size: 3vmax;
    margin-bottom: 20px;
    color: white;
}