

#blender-page {
    height: 100vh;
}
  
.sideContainer {
  position: absolute;
  width: 70vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  text-align: center;
  color: white;
}

.vertical {
  width: 23vw;
}

.sideContainer img,
.sideContainer video {
    height: auto;
    width: 100%;
    border-radius: 5%;
    user-select: none;
    border: 1px solid black;
}

.sideContainer a {
    max-width: 100%;
    width: 100vw;
}

/* Directions */

.center,
.left,
.right {
  transition: transform 0.5s ease, filter 0.5s ease;
}


.center {
  position: relative;
  cursor: pointer;
}

.left {
  left: 2vw;
  cursor: pointer;
  filter: blur(20px);
  transform: translate(-90%, 0%);
}

.right {
  left: 98vw;
  cursor: pointer;
  filter: blur(20px);
  transform: translate(-10%, 0%);
}

.hidden {
  display: none;
}


.left:hover {
  transform: translate(-85%, -5%);
  filter: blur(15px);
}

.right:hover {
  transform: translate(-15%, -5%);
  filter: blur(15px);
}


/* For phones */

@media screen and (max-width: 1100px), screen and (max-height: 650px) {
  #blender-page {
    position: static;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .sideContainer {
    width: 90vw;
    height: auto;

    position: static;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    display: block;
  }
  
  .left {
    left: 0;
    filter: blur(0px);
    transform: translate(0, 0);
  }

  .right {
    left: 0;
    filter: blur(0px);
    transform: translate(0, 0);
  }

  .left:hover {
    transform: translate(0%, -0%);
    filter: blur(0px);
  }
  
  .right:hover {
    transform: translate(0%, -0%);
    filter: blur(0px);
  }
}