body {
    margin: 0;
    width: 100vw;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('ConstructionTape.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

p {
    font-size: calc(2vh + 1vw);
    margin-bottom: 20px;
    background-color: white;
    border: solid 2px black;
    padding: 2px;
}

img {
    max-width: 100%;
    height: auto;
}