body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


/* Book */
#book-cover {
    background-image: url('CoverArtFront.webp');
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    width: 46.5%; /* Half the size of book */
    height: 98%;
    position: absolute;
    display: block;
    background-size: contain;
}

#book {
    width: 93%;
    height: 99%;
    perspective: 1000px;
    position: relative;
    display: none;
}

#left-page,
#right-page {
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    box-shadow: 0 0 25px rgba(0, 0, 0, 1.5);
    transform-style: preserve-3d;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
}

#left-page {
    left: 0;
    transform-origin: left center;
    transform: rotateY(2deg);
    display: flex;
    border-left: solid 10px black;
}

#right-page {
    right: 0;
    transform-origin: right center;
    transform: rotateY(358deg);
    display: flex;
    border-right: solid 10px black;
}

.left-image {
    left: 0;
    width: 5%;
}

.right-image,
.left-image {
    position: relative;
    top: 0;
    height: 100%;
    object-fit: cover;
}

.right-image {
    right: 0;
    width: 7%;
}

.page-content {
    position: relative;
    width: 100%;
    overflow: hidden; 
    margin: 10px;
}

.center-text {
    display: flex;
    justify-content: center;
}

p,
.page-text-header {
    all: unset;
    font-family: cursive, arial;
}


.page-text-header {
    border-bottom: 1px solid #585858;
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
}

.page-text {
    padding: 2px;
    max-width: 100%;
}